<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <!-- Angular JS for the app Purpose-->
    <script src="vendor/AngularJS/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
    <!-- JAVA SCRIPT FOR THE ENTRY FORM CUSTOM-->
    <script src="js/sb_custom_js.js"></script>
    <!-- Including the header and the footer-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!--HEADER AND FOORTER INCLUDE-->
</head>

<body ng-app="shailesh_banthia" ng-controller="view_firm">
<table class="table table-hover table-bordered table-striped">
    <tr>
        <td>
            Firm Name:
        </td>
        <th>{{print_det.xname | uppercase}}</th>

    </tr>
    <tr>
        <td>
            GST No. :
        </td>
        <th>{{print_det.gst_no}}</th>

    </tr>
    <tr>
        <td>
            PAN No. :
        </td>
        <th>{{print_det.pan_no}}</th>

    </tr>
    <tr>
        <td>
            Address :
        </td>
        <th>{{print_det.add1}}</th>

    </tr>
    <tr>
        <td>
            Pincode :
        </td>
        <th>{{print_det.pincode}}</th>

    </tr>
    <tr>
        <td>
            City :
        </td>
        <th>{{print_det.city}}</th>

    </tr>
    <tr>
        <td>
            State :
        </td>
        <th>{{print_det.state}}</th>

    </tr>


    <tr>
        <td>
            Email ID :

        </td>
        <th colspan="2">
            <ul class="list-group">
                <li ng-repeat="x in print_det.mail" class="list-group-item">
                           {{x.email_id}}
                </li>
            </ul>
        </th>
    </tr>
    <tr>
        <td>
            Phone No :

        </td>
        <th colspan="2">
            <ul class="list-group">
                <li ng-repeat="x in print_det.mob_no" class="list-group-item">
                          {{x.mob_no}}
                </li>
            </ul>
        </th>
    </tr>
    <tr ng-if="print_det.client_list_print">
        <td>Passenger's Names</td>
        <th colspan="2">
            <ul class="list-group">
                <li ng-repeat="x in print_det.owner_list" class="list-group-item">
                          {{x.xname | uppercase}}
                </li>
            </ul>
        </th>

    </tr>
</table>
</body>

</html>
