<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <!-- Angular JS for the app Purpose-->
  <script src="vendor/AngularJS/angular.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
  <!--COMMON JS -->
  <script src="js/sb_custom_js.js"></script>
  LOGIN JS FOR THIS PAGE
</head>

<body class="bg-dark" ng-app="shailesh_banthia" ng-controller="login">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form name="loginform">
          <div class="form-group">
            <label for="exampleInputEmail1">Username :</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  placeholder="Enter Username" ng-model="loginDetails.username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password : </label>
            <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Enter Password" ng-model="loginDetails.password">
          </div>
          <button class="btn btn-primary btn-block" ng-click="login()">Login</button>
        </form>
        <div class="text-center">
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
